

body{
    background-image: url(../images/white-painted-wall-texture-background_53876-138197.webp);
    background-size: cover;
    background-position: center;
    font-size: 18px;
    font-family: 'Pacifico', cursive;

}
h1 , h4{
   
    font-weight: 900;
    font-size: 70px;
    position: relative;
    width: max-content;
    margin: auto;

font-family: 'Sacramento', cursive;
   
}
h4{
    font-size: 50px;
}

.form-control{
    border-color: #c8c6c6;
}
.form-control:focus {
    border-color: black;
}
h1::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 25%;
    left: 50%;
    bottom: 40px;
    background-image: url(../images/white-painted-wall-texture-background_53876-138197.webp);

    background-size: cover;
    background-position: center;
    transition: height 350ms;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 60px;
    box-shadow: 6px 10px 20px #a9a5a5;
    
}

h1:hover::before{
    height: 50%;


}
:root{
    --bs-body-bg: transparent !important;
}
.table{
    background-image: url(../images/gray-grunge-surface-wall-texture-background_1017-18216.jpg);
    background-size: cover;
    background-position: center;
}

.modal-dialog{
    top: 30%;
}
.btn-close:focus {
     box-shadow:none !important;
}

@media only screen and (max-width:992px) { 
    .container{
        width: 100% !important;
    }
    form{
        width: 100% !important;
    }
    h1::before{
        width: 100% !important;
    }
    h4{
        width: 80% !important;
    }
}


